<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78546340541-pv21odmat018e4a4jul110gg2n89vv8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78546340541-pv21odmat018e4a4jul110gg2n89vv8a</string>
	<key>API_KEY</key>
	<string>AIzaSyCqgxKOgE2FinefnMbo0Dlz1Dn5aPfUXa4</string>
	<key>GCM_SENDER_ID</key>
	<string>78546340541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFlutterProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fit-track-1eb09</string>
	<key>STORAGE_BUCKET</key>
	<string>fit-track-1eb09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78546340541:ios:3745c093d09c98c5afc5d4</string>
</dict>
</plist>